In [5]:
import numpy as np
import pandas as pd
import os

In [6]:
folder = "../../_data/p-dengue/ONI"
os.listdir(folder)

['ONI_raw.rtf', 'ONI.csv', 'ONI_clean.txt']

In [ ]:
# Read the space-separated text file
df = pd.read_csv(os.path.join(folder, "ONI_clean.txt"), 
                 sep=r"\s+",    # split on any whitespace
                 header=None,              # no header row
                 comment='\\')             # ignore the trailing '\'

# Drop any empty columns (just in case)
df = df.dropna(axis=1, how='all')

# Save as CSV
df.to_csv(os.path.join(folder, "ONI.csv"), index=False, header=False)

In [10]:
p = pd.read_csv(os.path.join(folder, "ONI.csv"), header=None, index_col=0, dtype={i:float for i in range(1, 13)})
p.index.name = None
p

,1,2,3,4,5,6,7,8,9,10,11,12
1950,-1.53,-1.34,-1.16,-1.18,-1.07,-0.85,-0.54,-0.42,-0.39,-0.44,-0.60,-0.80
1951,-0.82,-0.54,-0.17,0.18,0.36,0.58,0.70,0.89,0.99,1.15,1.04,0.81
1952,0.53,0.37,0.34,0.29,0.20,0.00,-0.08,0.00,0.15,0.10,0.04,0.15
1953,0.40,0.60,0.63,0.66,0.75,0.77,0.75,0.73,0.78,0.84,0.84,0.81
1954,0.76,0.47,-0.05,-0.41,-0.54,-0.50,-0.64,-0.84,-0.90,-0.77,-0.73,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...
2021,-1.05,-0.93,-0.84,-0.66,-0.48,-0.38,-0.40,-0.49,-0.67,-0.81,-0.98,-0.98
2022,-0.97,-0.93,-0.99,-1.06,-0.99,-0.85,-0.81,-0.91,-1.01,-0.99,-0.92,-0.83
2023,-0.68,-0.43,-0.15,0.16,0.48,0.77,1.07,1.32,1.56,1.78,1.92,1.95
2024,1.78,1.48,1.14,0.71,0.39,0.15,0.04,-0.11,-0.21,-0.26,-0.37,-0.53
2025,-0.59,-0.38,-0.18,-0.09,-0.11,-0.11,-0.19,-0.32,-0.45,-99.90,-99.90,-99.90