In [1]:
import pandas as pd
import os
import pyreadr

In [2]:
# laptop
folder = "../../_data/p-dengue/"
os.listdir(folder)

['ONI',
 'cases_deaths_pop_2016_2024_38.rds',
 'df_admin2_statistics.csv',
 'dengue_indonesia_yifan',
 '.DS_Store',
 'admin_year_surveillance',
 'shapefiles',
 'df_admin1_statistics.csv',
 'raster_urbanisation',
 'weather_statistics-(reanalysis-era5-land)',
 '_model_fits',
 'processed_surveillance',
 'admin_year_urban_surveillance',
 'wikipedia_provinces',
 'admin_year_urbanisation',
 'admin_year_month_climate',
 'base_info',
 'admin_year_pop',
 'valid_admin',
 'processed_urbanisation',
 'raster_surveillance',
 'weather_statistics-(derived-era5-single-levels-daily-statistics)',
 'raster_pop']

In [3]:
d_incidence = pyreadr.read_r(os.path.join(folder, 'cases_deaths_pop_2016_2024_38.rds'))[None]

In [4]:
d_incidence

,region,idadmin1,idadmin2,admin1,admin2,year,month,cases,deaths,pop,shapeName
0,SUMATRA,11.0,1101.0,ACEH,SIMEULUE,2016.0,1.0,1.0,0.0,88166.0,Simeulue
1,SUMATRA,11.0,1101.0,ACEH,SIMEULUE,2016.0,2.0,8.0,0.0,88166.0,Simeulue
2,SUMATRA,11.0,1101.0,ACEH,SIMEULUE,2016.0,3.0,9.0,0.0,88166.0,Simeulue
3,SUMATRA,11.0,1101.0,ACEH,SIMEULUE,2016.0,4.0,14.0,0.0,88166.0,Simeulue
4,SUMATRA,11.0,1101.0,ACEH,SIMEULUE,2016.0,5.0,4.0,0.0,88166.0,Simeulue
...,...,...,...,...,...,...,...,...,...,...,...
55507,PAPUA,94.0,9471.0,PAPUA,KOTA JAYAPURA,2024.0,8.0,8.0,0.0,454314.0,Kota Jayapura
55508,PAPUA,94.0,9471.0,PAPUA,KOTA JAYAPURA,2024.0,9.0,0.0,0.0,454314.0,Kota Jayapura
55509,PAPUA,94.0,9471.0,PAPUA,KOTA JAYAPURA,2024.0,10.0,24.0,0.0,454314.0,Kota Jayapura
55510,PAPUA,94.0,9471.0,PAPUA,KOTA JAYAPURA,2024.0,11.0,57.0,0.0,454314.0,Kota Jayapura
55511,PAPUA,94.0,9471.0,PAPUA,KOTA JAYAPURA,2024.0,12.0,43.0,0.0,454314.0,Kota Jayapura

In [5]:
valid_admin2 = d_incidence['admin2'].unique().tolist()
valid_admin2.remove('KEPULAUAN SERIBU')
valid_admin2.remove('KOTA TARAKAN')
pd.Series(valid_admin2).to_csv(os.path.join(folder, 'valid_admin/valid_admin2.csv'), index=False, header=False)

valid_admin1 = d_incidence['admin1'].unique().tolist()
pd.Series(valid_admin1).to_csv(os.path.join(folder, 'valid_admin/valid_admin1.csv'), index=False, header=False)

In [6]:
valid_admin2 = pd.read_csv(os.path.join(folder, 'valid_admin/valid_admin2.csv'), header=None)[0].tolist()
valid_admin1 = pd.read_csv(os.path.join(folder, 'valid_admin/valid_admin1.csv'), header=None)[0].tolist()

In [7]:
len(valid_admin2)

512