In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [58]:
scale=2
valid_admin = pd.read_csv(f'base_info/admin{scale}_unique.csv', header=None)[0].tolist()

# Read shapefile
admin_shp = gpd.read_file(f"dengue_indonesia_yifan/data/shapefiles/admin{scale}/admin{scale}_38.shp")
# drop invalid admin2 regions
admin_shp = admin_shp[admin_shp[f'admin{scale}'].isin(valid_admin)]
admin_shp = admin_shp.to_crs(epsg=6933)
admin_shp["area_km2"] = admin_shp.area / 1e6

Mollweide (ESRI:54009)
World Cylindrical Equal Area epsg=6933
Albers Equal Area "+proj=aea +lat_1=-5 +lat_2=6 +lat_0=0 +lon_0=120 +datum=WGS84 +units=m +no_defs"
Equal Earth 'EPSG:8857'

In [59]:
admin_shp

,shapeName,shapeISO,shapeID,shapeGroup,shapeType,idadmin1,idadmin2,admin1,admin2,region,geometry,area_km2
0,Aceh Barat,None,22746128B65593111718524,IDN,ADM2,11,1107,ACEH,ACEH BARAT,SUMATERA,"POLYGON ((9310066.014 589119.344, 9310390.574 ...",2810.882757
1,Aceh Barat Daya,None,22746128B227561513795,IDN,ADM2,11,1112,ACEH,ACEH BARAT DAYA,SUMATERA,"MULTIPOLYGON (((9340411.094 473939.64, 9340148...",1893.612683
2,Aceh Besar,None,22746128B90547447297479,IDN,ADM2,11,1108,ACEH,ACEH BESAR,SUMATERA,"MULTIPOLYGON (((9186019.228 672751.306, 918622...",2897.867095
3,Aceh Jaya,None,22746128B21424895456858,IDN,ADM2,11,1116,ACEH,ACEH JAYA,SUMATERA,"MULTIPOLYGON (((9222574.455 588124.938, 922233...",3878.099322
4,Aceh Selatan,None,22746128B12428400263117,IDN,ADM2,11,1103,ACEH,ACEH SELATAN,SUMATERA,"MULTIPOLYGON (((9416540.988 358056.606, 941635...",4215.641283
...,...,...,...,...,...,...,...,...,...,...,...,...
514,Way Kanan,None,22746128B8708218473228,IDN,ADM2,18,1807,LAMPUNG,WAY KANAN,SUMATERA,"POLYGON ((10082902.574 -631357.583, 10082834.2...",3651.256522
515,Wonogiri,None,22746128B32217084331074,IDN,ADM2,33,3312,JAWA TENGAH,WONOGIRI,JAVA & BALI,"POLYGON ((10693557.391 -1042808.119, 10693501....",1923.196286
516,Wonosobo,None,22746128B92173297199140,IDN,ADM2,33,3307,JAWA TENGAH,WONOSOBO,JAVA & BALI,"POLYGON ((10589578.112 -949319.33, 10589972.06...",994.069213
517,Yahukimo,None,22746128B87177062694316,IDN,ADM2,97,9707,PAPUA PEGUNUNGAN,YAHUKIMO,PAPUA,"POLYGON ((13473771.965 -642298.549, 13460936.4...",14615.858523
518,Yalimo,None,22746128B10188501962211,IDN,ADM2,97,9706,PAPUA PEGUNUNGAN,YALIMO,PAPUA,"POLYGON ((13456106.601 -440942.009, 13456958.5...",4002.899045

In [60]:
areas = admin_shp[['admin2', 'area_km2']]

In [62]:
areas.to_csv('base_info/admin2_area.csv', index=False)

In [63]:
pd.read_csv('base_info/admin2_area.csv')

              admin2      area_km2
0         ACEH BARAT   2810.882757
1    ACEH BARAT DAYA   1893.612683
2         ACEH BESAR   2897.867095
3          ACEH JAYA   3878.099322
4       ACEH SELATAN   4215.641283
..               ...           ...
509        WAY KANAN   3651.256522
510         WONOGIRI   1923.196286
511         WONOSOBO    994.069213
512         YAHUKIMO  14615.858523
513           YALIMO   4002.899045

[514 rows x 2 columns]